<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!-- Session -->
    <!-- End -->
    <!-- Error -->
    <customErrors mode="Off" defaultRedirect="~/Headquarters/ErrorPage.htm"/>
    <!-- End -->
    <!--upfile-->
    <httpRuntime maxRequestLength="406900" executionTimeout="300"/>
    <!--end-->
    <httpHandlers>
      <!--ashx-->
      <add path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" validate="true"/>
      <!--end-->
    </httpHandlers>
    <machineKey validationKey="7FE1FC5B57C55EDFCCEFCB9EF8E8757B46BC3015B8A65B578CB1570C40936FDAD73D0EE6E692F2D7FB88AD694BFCABCB11F1741B3EF5F003192D928631498207" decryptionKey="2BBFD02CFF1AC6B7CBE9F368587E0589EF143A1A2D1B62DBE8AED4206619153D" validation="SHA1" decryption="AES"/>
  </system.web>
  <!--connStr-->
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=sy_wtit;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=182.92.240.128;Initial Catalog=sy_wtit;User ID=sa;Password=sTangLcb5188888551" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=114.215.237.13;Initial Catalog=sy_wtit;User ID=sa;Password=Admin66233" providerName="System.Data.SqlClient"/>
    <add name="StockEntities" connectionString="metadata=res://*/StockEntity.csdl|res://*/StockEntity.ssdl|res://*/StockEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.215.237.13;initial catalog=sy_wtit;user id=sa;password=Admin66233;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<add name="ConnectionString" connectionString="Data Source=182.92.240.128\SQL2008,1444;Initial Catalog=sy_wtit;User ID=sa;Password=sTangLcb5188888551" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <!--end-->
  <!--ajax-->
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--end-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="version" value="10.1.20150521"/>
    <!--获取销售订单积分  操作人是uid -->
    <add key="SellPlanOpt" value="1"/>
    <!--获取销售订单积分  客户所属是uid-->
    <add key="SellPlanOfSell" value="1"/>
    <!--获取销售单积分-->
    <add key="SellOpt" value="1"/>
    <!--获取销售单积分  客户所属是uid-->
    <add key="SellOfSell" value="1"/>
    <!--服务单积分 操作人-->
    <add key="serOpt" value="1"/>
    <!--服务单 技术人-->
    <add key="serSpc" value="1"/>
    <!--服务单-->
    <add key="ServiceOffer" value="1"/>
    <add key="CorpID" value="wxf937e1e5b98ea70d" />
    <add key ="Secret" value="k1V9zslI7BqnjNcIZzm0RNOPXR2F3z8CsJkQoBosP9H7eXwG4WFujp-0cnStGtd4"/>
  </appSettings>
</configuration>