*.pdb
*.pdb
DAL/bin/Debug/DAL.dll
DAL/bin/Debug/Model.dll
DAL/obj/Debug/DAL.dll
DAL/obj/Release/DAL.dll
*.pdb
DB/bin/Debug/DB.dll
DB/obj/Debug/DB.pdb
EF/bin/Debug/DAL.dll
EF/bin/Debug/EF.pdb
EF/bin/Release/DAL.dll
EF/obj/Debug/EF.dll
Model/bin/Debug/Model.dll
Model/obj/Debug/Model.pdb
Model/obj/Release/Model.dll
*.dll
OtherClassLibrary/bin/Debug/DB.dll
*.pdb
*.dll
*.dll
DAL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.dll