@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendWeixinMsg</title>
</head>
<body>
    <div>
        <form action="/Home/SendWeixinMsg" method="post">
            <p>微信号：<input name="user" type="text" /></p>
            <p>消息内容：<input name="msg" type="text" /></p>
            <p><input type="submit" value="发送消息" /></p>
<p style="color:red">@ViewBag.ReMsg</p>
        </form>
    </div>
</body>
</html>
