@model IEnumerable<BussModule.Biz.Model.fw_services>
@{
    ViewBag.Title = "服务处理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .mui-table h4, .mui-table h5, .mui-table .mui-h5, .mui-table .mui-h6, .mui-table p {
            margin-top: 0;
        }

        .mui-table h4 {
            line-height: 21px;
            font-weight: 500;
        }

        .mui-table .oa-icon {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .mui-table .oa-icon-star-filled {
            color: #f14e41;
        }
            .modal-show td {
            padding:3px 2px;
            }
    </style>
}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">服务处理</h1>
</header>
<div class="mui-content">
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
        @if (Model == null || Model.Count() == 0)
        {
            <li>
                <h3 style="text-align: center">没有数据！</h3>
            </li>
        
        }
        else
        {
            foreach (var item in Model)
            {
            <li class="mui-table-view-cell service-item" cid="@item.ID">
                <div class="mui-table">
                    <div class="mui-table-cell mui-col-xs-10">
                        <h4 class="mui-ellipsis">@item.BillID</h4>
                        <h5>发起时间：@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.Time_Make) </h5>
                        <h5>客户名称：@item.CustomerName </h5>
                        <h5>报修人：@item.LinkMan </h5>
                        <h5>报修人电话：@item.Tel </h5>
                        @*  <p class="mui-h6 mui-ellipsis">@item.TaskRemark</p>*@
                    </div>
                    <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                        <span class="mui-h5">@item.curStatus</span>
                    </div>
                </div>
                
            </li>
            
            
            }
        }



    </ul>
</div>
@section scripts{
    <script>
        $(function () {
            $(".service-item").click(function () {
                var sid = $(this).attr("cid");
                window.location.href = "/Home/ServiceDetail/" + sid;
            });
           
        })
    </script>
    
    }